<nav style=" background: hsla(205, 46%, 30%,1);   background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100%);" class="navbar navbar-light ">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">Gaana App</h1>
        <div class="d-flex">
            <button routerLink="/songsdashboard" class="btn btn-success ">Songs Page</button>
        </div>
    </div>
</nav>
<div>
    <h5 style=" font-size: 40px; font-weight: bold;" class="text-center">Top Artists</h5>
</div>

<table class="table mt-3 table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Artist Id</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Bio</th>
            <th scope="col">Action</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of artistData">
            <td>{{row.artistid}}</td>
           <td>{{row.artistname}}</td>
           <td>{{row.dob}}</td>
           <td>{{row.bio}}</td>
            <td>
                <button (click)="onEdit(row)"  class="btn btn-success " data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-info">Edit</button>
                <button  (click)="deleteArtist(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Artist Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-row">
                    
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Artist Name</label>
                    <input formControlName="artistname" type="email" class="form-control" id="inputEmail4" placeholder="Enter the artist name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Bate of Birth</label>
                    <input formControlName="dob" type="email" class="form-control" id="inputEmail4" placeholder="Enter the date of birth">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Bio</label>
                    <input formControlName="bio" type="email" class="form-control" id="inputEmail4" placeholder="Enter the bio">
                  </div>
                  
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button  type="button" *ngIf="showUpdate" (click)="updateArtistDetails()"  class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>