<nav style=" background: hsla(205, 46%, 30%,1);   background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100%);" class="navbar navbar-light ">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">Gaana App</h1>
        <div class="d-flex">
            <button style='margin-right:16px' (click)="clickAddSong()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success ">Add Songs</button>
            <button routerLink="/artistdashboard" style='margin-right:16px' class="me-1 btn btn-primary">Top Artists</button>
            <button  (click)="clickAddArtist()" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Add Artist</button>
            
        </div>
    </div>
</nav>
<div>
    <h5 style=" font-size: 40px; font-weight: bold;" class="text-center">Top Songs</h5>
</div>
<table class="table mt-3 table-hover text-center">
    <thead>
        <tr>
             <!-- <th scope="col">Song Playlist No</th>  -->
            <th scope="col">Cover</th>
            <th scope="col">Song Name</th>
            <th scope="col">Artist</th>
            <th scope="col">Rating</th>
            <th scope="col">Action</th>
        </tr> 
    </thead>
    <tbody>
        <tr *ngFor="let row of songData">
            <!-- <td>{{row.songid}}</td> -->
            <td><img src="assets\Images\Image1.jpg" style="width:200px; height:auto;"></td>
           <td>{{row.songname}}</td>
           <td>{{row.artist.artistname}}</td>
           <td>{{row.ratings}}/5</td>
            <td>
                <button (click)="onEdit(row)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteSong(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Songs Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-row">
                    
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Song Name</label>
                    <input formControlName="songname" type="text" class="form-control" id="inputEmail4" placeholder="Enter the song name">
                  </div>
                  
                </div>
                
                  <div class="form-group col-md-4">
                    <label for="inputState">Artist</label>
                    <select formControlName="artistname"  id="artist" class="form-control">
                        <option *ngFor="let c of artistdropdown" [ngValue]="c.artistid">{{ c.artistname }}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Rating</label>
                    <input formControlName="ratings" type="text" class="form-control" id="inputZip" placeholder="/5">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button  type="button" *ngIf="showAdd" (click)="postSongDetails()"  class="btn btn-primary">Add</button>
          <button  type="button" *ngIf="showUpdate" (click)="updateSongDetails()"  class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

 
  
  
  <!-- Modal Add Artist-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Artist Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-row">
                    
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Artist Name</label>
                    <input formControlName="artistname" type="text" class="form-control" id="inputEmail4" placeholder="Enter the artist name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Bate od Birth</label>
                    <input formControlName="dob" type="text" class="form-control" id="inputEmail4" placeholder="Enter the date of birth">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Bio</label>
                    <input formControlName="bio" type="text" class="form-control" id="inputEmail4" placeholder="Enter the bio">
                  </div>
                  
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"  type="button" *ngIf="showAdd" (click)="postArtistDetails()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>